.color{
  color: #7E98DF;
  color: #1EB025;
  color: #FF5555;
  color: #848484

}
.container {
  padding: 0 2rem;
  height:100vh;
  width:35%;
}
.main{
  margin:0 auto;
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.friendList{
  width:100%;
  height: 100%;
  background-color: #FAFAFA;
  border-right: 1px solid #444;
}
.title{
  padding-left:30px;
  padding-right: 30px;
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color:#7E98DF
}
#imgOption{
  width: 17px;
  cursor: pointer;
}
.option{
  display: none;
  position: absolute;
  color: #232323;
  background-color: #FAFAFA;
  width: 32.8%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  left:0;
  border-radius: 5px;
  border:2px solid #7E98DF;
  box-shadow: 0 0 5px 1px #5EB4DD99;
  z-index: 10;
  transition:300ms;
  opacity: 1;
  transform: translateX(0);
}
/* #imgOption:hover .option{
  width:30%;
  opacity: 1;
  z-index: 10;
  transform: translateX(0);
} */
.uploadAva{
  position:absolute;
  z-index: -100;
  opacity:0;
}
.line{
  width:100%;
  height:1px;
  background-color: #7E98DF99;
  margin-top: 20px;
  margin-bottom: 10px;
}
.identity{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin:0;
}
.selfPortrait{
  width:25%;
  margin-top: 10px;
  margin-bottom:-10px;
  
}
.avatar{
  border-radius: 30px;
}
.identity input{
  margin-top:15px;
  border:none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  outline: none;
}
.identity input::placeholder{
  text-align: center;
  color:#232323;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
}
.account{
  margin:10px;
}
.account h3{
  margin: 5px 0;
}
.account input{
  border:none;
  outline: none;
  width:90%;
  padding:5px
}
.username{
  margin:10px;
}
.username input{
  border:none;
  outline: none;
  width:50%;
  padding:5px;
  margin-bottom:5px;
}
.username p {
  margin:0;
}
.bio{
  margin:10px;
}
.bio input{
  outline: none;
  border:none;
  text-overflow: ellipsis;
  word-wrap: break-word;
  /* white-space: nowrap;  */
  overflow:hidden;
  width:95%;
  max-height:50px;
  font-size: 16px;
  font-weight: 550;
  padding:7px;
}
.bio input::placeholder{
  color:#000;
  font-size: 16px;
  font-weight:550;
  /* padding:7px; */
}
.bio p{
  margin:0;
}
.logout{
  border: 2px solid #FF0000BB;
  font-size: 16px;
  border-radius: 10px;
  background-color: none;
  color: #FF0000BB;
  margin: 10px 0;
  padding:7px 10px;
}
.button{
  margin:10px 0;
  padding:7px;
  width:30%;
  align-self:flex-end;
  border: 2px solid #7E98DF;
  color:#7E98DF;
  font-size: 16px;
  border-radius: 10px;
  background-color: none;
}
.searchBar{
  margin:20px 0;
  width: 100%;
  height:40px;
  /* background-color: #1EB025; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.searchBar input{
  width:70%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #7E98DF;
}
.searchBar input:focus{
  outline-color: #5EB4DD;
}
.searchBar .plus{
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  color: #7E98DF;
  border: none;
  background-color: #FAFAFA;
}
.sortMessage{
  /* background-color: #1EB025; */
  width:80%;
  margin:40px auto;
  display:flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
  justify-content: space-evenly;
}
.sortMessage a{
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  margin-left:-20px;
  margin-right: 30px;
  color: #232323;
  padding: 12px;
  transition: 300ms;
}
.sortMessage a:focus{
  background-color: #7E98DF;
  color: #FAFAFA;
}